.App {
  background-color: #30475E;
  height: 120%;

}

.Nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 10vh;
  justify-content: space-evenly;
  flex-shrink: 1;
  color: #F5F5F5;
  background-color: #30475E;
  font-family: monospace;
  font-size: 200%;
  /* sticky nav */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Nav a {
  display: flex;
  transition: transform 0.5s;
  transition: 0.4s;
  padding: 15px 32px;
  border-radius: 5px;

}

.Nav h3 {
  display: flex;
  /* align-items: flex-start; */
  transition: transform 0.5s;
  transition: 0.4s;
  padding: 15px 32px;
  border-radius: 5px;
}

.Nav a:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #F7F6F2;
  background-color: #F05454;
}

.Nav h3:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #F7F6F2;
  background-color: #F05454;

}

.menuButton {
  opacity: 0;
}

@media only screen and (max-width: 768px) {

  .Nav a {
    display: none;
  }

  .Nav h3 {
    margin-left: 25%;
    font-size: 175%;
  }

  .Nav h3:hover {
    cursor: pointer;
    transform: scale(1);
    background-color: #30475E;

  }


  .Nav a {
    margin-left: 0;
  }

  .button {
    display: none;
  }

}


.Title {
  display: flex;
  justify-content: center;
}

.Subtitle {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;

}

.Header {
  height: 100vh;
  padding-top: 10vh;
  background-color: #30475E;
  color: #F5F5F5;
  font-family: monospace;
  font-size: 200%;
  padding-bottom: 2vh;
  animation: fade 1.9s ease-in;
}

.HeaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.aboutSection {
  padding-top: 10vh;
  color: #F5F5F5;
  background-color: #30475E;
  font-family: monospace;
  font-size: 200%;
  /* background-image: url('https://www.afscme.org/blog/migrated-assets/Ambulance-Marco-Piunti.jpg'); */
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  opacity: 70%;

}

.aboutBox {
  display: block;

  z-index: 20;
  background-color: #30475E;

  opacity: 96%;
  height: 50vh;
  width: 70vw;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -25%);
  border-radius: 25px;
}



.section {
  padding-top: 10vh;
  height: 100vh;
  background-color: #F5F5F5;
  color: #30475E;
  font-family: monospace;
  font-size: 200%;
}

.photo {
  height: auto;
  width: 100vw;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%
}

.contactIcon {
  border-radius: 50%;
  transition: transform 0.5s;
  transition: 0.4s;
}

.contactIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #F7F6F2;
  background-color: #F05454;
}

.buttonDiv {
  display: flex;
  justify-content: left;
  padding: 2vh;

  /* sticky */
  position: fixed;
  bottom: 0;
  left: 2vw;
  width: 100%;
  z-index: 2;
}

/* .hidden {
  display: none;
} */

.button {
  /* back to top button */
  border: none;
  color: #30475E;
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  transition: transform 0.5s;
  border-radius: 5px;
  transition: 0.4s;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #F7F6F2;
  background-color: #F05454;
}

.video {

  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}