.App {
  background-color: #F0E5CF;
  height: 120%;

}

.Nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  color: #4B6587;
  background-color: #F0E5CF;
  height: 10vh;
  font-family:monospace;
  font-size: 200%;
/* sticky nav */
  position: fixed;
  top: 0;
  width: 100%;
}

.Nav a{
  display: flex;
  transition: transform 0.5s;
}
.Nav h3{
  display: flex;
  /* align-items: flex-start; */
  transition: transform 0.5s;
}

.Nav a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.Nav h3:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menuButton {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  /* .Nav a {
    flex-direction: column;
  } */
  .Nav a {
    display: none;
  }
  .Nav h3 {
     margin-left: 15%;
    }
  .Nav a {
    margin-left: 0;
  }
  /* .menuButton {
    opacity: 100;
    display: contents;
    background-color: #4B6587;
    border: none;
    color: #F0E5CF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  } */
}


.Title {
  display: flex;
  justify-content: center;
}

.Subtitle {
  margin-top: 0;
  margin-left: 15%;
}

 .Header {
  padding-top: 10vh;
  background-color: #F7F6F2;
  color: #4B6587;
  font-family:monospace;
  font-size: 200%;
  padding-bottom: 2vh;
}

.section {
  padding-top: 10vh;
  background-color: #F0E5CF;
  color: #4B6587;
  font-family:monospace;
  font-size: 200%;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #4B6587;
  border: none;
  color: #F0E5CF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;


}
